
.medicationForm{
	text-align:left;
	padding:0 5px;
}

.dropdownFields{
	margin: 0 20px 0 10px;
}

.reminderFormTitle{
	text-align:center;
}

.addMedsPanel{
	background-color:#2d4157;
    border:0;
    color:white;
	border-radius:10px;
}

.wellDay{
	background-color:#2d4157;
	color: #fff;
	border-radius:10px 10px 0 0;
	margin-bottom:0;
}

.remindersText{
	text-align:left;
}

.Input{
	margin-left:10px;
}

.dateLabel{
	margin-left:10px;
}

.medicationForm{
	text-align:left;
}

.hide {
	display: none;
}

.deleteBtn {
	margin-left: 10px;
	position: absolute;
	right: 0;
	top: 10px;
	margin-right: 15px;
	padding: 5px;
	font-size: 9px;
	color: rgb(181, 92, 111);
	font-weight: bold;
	margin-bottom: 0;
}

.reminders {
	text-align: left;
	padding: 10px 0 10px 20px;
	position: relative;
	background-color:#eee;
	border-radius:0px 0px 10px 10px;
}

.reminderTitle {
	font-weight: bold;
	line-height: 1.5;
	padding-right: 15px;
}

.panelTitle{
	font-size:175%;
	padding-bottom:10px;
}

.currentReminders{
	margin-bottom:20px;
	font-size:200%;
}

.panelLabel{
	font-size:17px;
	font-weight:100;
}

.addReminderBtn{
	float:right;
}

@media only screen and (max-width:480px) {
	.Input{
		margin-left:0px;
	}

	.dropdownFields{
		margin: 0;
	}

	.dateLabel{
		margin-left:0px;
	}

	.reminders {
		padding: 0;
	}


	
}
