.patientProfile{
background-image: 

url("https://png.pngtree.com/thumb_back/fh260/back_pic/00/03/16/92561d2b54b9939.jpg");
	background-repeat: no-repeat;
	background-position: center-top;
	background-size: 100% 150%;
	

}

.profileText{
	text-align:left;
	margin-left:50px;
}