
.todaysReminders{
	margin: 20px, 0, 90px, ;
}

.remindersh1{
	font-size:50px;
}

.remindersWell{
	padding:0px;
	padding-bottom:10px;
	margin: 20px 40px;
	border:0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	background-color: rgb(95, 104, 119); 

		color:white;


}

.redBG {
  background-color: rgb(201, 84, 78);

}

.greenBG {
		background-color: rgb(76, 126, 206); 
}