.loginCol{
	background-color: #2d4157;
	color:#fff;	
	height:100vh;
}

.form h1 {
	font-size:50px;
}

.signupRoute{
	margin-top:10px;
}

.loginLabel {
	text-align:right;
}

.login-signup-btn {
	font-weight:bold;
	width:8%;
	font-size:15px;
}

.login-signup-btn:hover {
	background-color:rgb(109, 151, 149);
	border-color: rgb(109, 151, 149);
	width:8%;
	font-size:15px;
}

.login-link {
	color:rgb(109, 151, 149);
}

.login-link:hover {
	text-decoration: none;
	color:#fff;
}


/* Desktop Style */
@media only screen and (min-width: 769px){
	.LoginForm{
		margin-top:0px;
		padding-top:60px;
	}

	.signupRoute{
		margin-top:15px;
	}


	.form h1 {
		padding-bottom:10px;
	}

	.btn-lg {
		margin-top:10px;
	}

}

/* Tablet Style */
@media only screen and (min-width: 481px) and (max-width:768px) {
	.LoginForm{
		margin-top:0px;
		padding-top:40px;
	}

	.signupRoute{
		margin-top:15px;
	}

	.form h1 {
		padding-bottom:20px;
	}

	.btn-lg {
		margin-top:10px;
	}
}

/* Mobile Style */
@media only screen and (max-width:480px) {
	.LoginForm{
		margin-top:0px;
		padding-top:40px;
	}

	.signupRoute{
		margin-top:15px;
	}

	.form h1 {
		padding-bottom:20px;
	}

	.btn-lg {
		margin-top:10px;
	}
}
