.App{
	text-align:center;
	font-family: 'Nanum Myeongjo', sofia,  serif;
	font-size:20px;
}

.navbar{
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand {
	font-size: 150%;
	color: #2d4157 !important;
}

.nav-item a {
	color:#2d4157;
	text-decoration:none;
}

.nav-item a:hover {
	color:rgb(109, 151, 149);
}
